/*******************Page Setup************************
*4 square setup
*Side and top Navtools
*mobile setup
*/
html {
  height: 100%;
}

body {
  height: 100%;   
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.column {
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
  /*makes sure that content is not cut off in a smaller browser window*/
  width: 20%;
  /*background-color: #C3C1C2;#d4d4d3 #C0C0C0*/
  background-color: #C0C0C0;
  display: block;
  align-items: center;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.top-right button{
  display: none;
}

.navbar{
  align-items: center;
  padding-left: 0;
  padding: 0!important;
  flex-wrap: nowrap!important;
  min-width: 150px;
  outline-width: 1pt;
  outline-color: black;
}

.navbar-brand{
  padding: 0 10px;
  list-style-type: none;
  display: block;
  margin-right: 0 !important;
  text-align: center;
  }

.navbar-brand button{
  padding: 0;
  border: none;
  background-color: inherit;
}

.navbar-brand button:hover{
  color: #eeeeee;
}

.navbar-brand button:focus {outline:0;}

.navbar-brand strong{
  padding: 0 10px;
  list-style-type: none;
  display: none;
}

.navbar-brand li{
  align-items: center!important;
  list-style-type: none;
  padding: .5rem;
  flex-wrap: nowrap!important;
}

.navbar-brand li a{
  text-align: center;
  padding: 0;
}

.navbar-brand img{
  height: 40px;
  align-items: center;
  border-radius: 50%;
}

.navbar-nav li img{
  height: 110px;
  align-items: center;
  border-radius: 50%;
}

.navbar-nav li{
  padding: 0 10px;
  list-style-type: none;
  display: block;
}

.nav-link{
  padding:8px !important;
  color: #555!important;
}

#nav-home{
  padding-top: 8px;
}

.navbar-nav li{
  text-align: center;
  display: block;
  color: #555!important;
  font-weight: 600;
  font-size: 18px;
}

a:hover{
  color: whitesmoke!important;
}

.navbar-toggler{
  border: none!important;
}

nav-link dropdown-toggle::after{
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#right{
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
  width: 80%;
  background-color: #d4d4d3;
  background-image: url("exp_background.jpg");
  background-size: cover;
  background-position: top;
  
  
  transition: all 1s ease-in-out;
  scroll-behavior: smooth;
}

#right.bottom{
  scroll-behavior: smooth;
}

.top-left {
  flex-shrink: 0;
}

.top-right {
  flex-shrink: 0;
  display: none;
}

ul {
  display: inline-flex;
  list-style: none;
}

.bottom{
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#slider{
  background-color: slategray;
  width: 100%;
}

.carousel-item img{
  width: 100%;
  display: block;
  height: 700px;
}

.carousel-caption{
  top: 25%;
  right: initial!important;
  left:70%!important;
  transform: translateY(-50%);
  bottom: initial!important;
  width: 200px;
}

.carousel-caption h5{
  color: #ffffff;
  font-size: 24px;
}

  #left.active{ 
    width: 8%;
    align-items: center;
    display: inline-flex;
  }
  
  #right.active{
    width: 92%;
  }

  .top-right.active{
    align-items: center;
    position: relative;
  }
  
  .navbar-nav li img.active{
    display: none;
  }

  .navbar-brand h1.active{
    display: none;
  }

  .navbar-brand strong.active{
    padding-top: 8px;
    display: inline-flex;
  }

  .navbar-brand button.active{
    display: flexbox-inline;
    padding-bottom: 8px;
    padding-top: 0;
    border: none;
    background-color: whitesmoke;
    margin-top: 24px;
    border-radius: 50%;
  }

  .nav-name.active {
    display: none;
    white-space: normal;

  }

  .navbar-nav li.active{
    text-align: left;
    white-space: normal;
  }


@media only screen and (max-width: 765px) {
  #left{
    width: 0%;
    align-items: center;
    display: inline-flex;
    transition: all 1s ease-in-out;
  }
  #left.active{
    width: 20%;
  }

  #right{
    width: 100%;
    transition: 1s ease-in-out;
  }
  #right.active{
    width: 80%;
  }
  
  .top-right{
    align-items: center;
    position: relative;
    display: inline;
    }

  .top-right.active{
    display: none;
  }
    
  .top-right i{
    float: left;
    margin-top: 12px;
    margin-left: 8px;
  }
  .top-right button{
    display: block;
    width: 100%;
    border: none;

  }
  .top-right button:hover{
    color: grey;
  }
  
  .navbar-brand button{
    display: flexbox-inline;
    padding-bottom: 8px;
    padding-top: 0;
    border: none;
    background-color: whitesmoke;
    margin-top: 24px;
    border-radius: 50%;
  }
  .navbar-nav li img{
    display: none;
  }
  .navbar-brand{
    text-align: left;
    display: inline-flex;
  }
  .navbar-brand h1{
    display: none;
  }
  .navbar-brand strong{
    padding-top: 8px;
    display: inline-flex;
  }
  .nav-name {
    display: none;
    white-space: normal;
    /*transition: all 1s ease-in-out;*/

  }
  .navbar-nav li{
    text-align: left;
    white-space: normal;
  }

}

/**************Page Setup End**************/


/*************Content*******************/

/***********About Section**************/
#about{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px ;
  padding-right: 10px;
  color: #555; 
}
#about .btn{
  margin-top: 20px;
  margin-bottom: 20px;
}
#about button:focus {outline:0;}

.about-content{
  padding-top: 20px;
}

.skills-bar p{
  margin-bottom: 6px;
  font-weight: 600;
}

.progress-bar{
  border-radius: 16px;
}

.progress{
  border-radius: 16px;
  margin-bottom: 16px;
}

.modal-footer{
  height: 50px;
}

.modal-footer button{
  margin-top: 0!important;
  margin-bottom: 0!important;
  padding-top: 0;
}

#contactme ul{
  display: inline;
  color: #555;
  size: 18px;
}

#contactme li{
  padding-bottom: 10px;
  font-size: 20px;
}

#contactme i{
  color: #555;
}

#contactme i:hover{
  color: #000000;
}

#contactme t:hover{
  color: #000000;
}
/***********End of About Section**************/

/*************education Section***************/
#education{
  background: repeating-linear-gradient(
    75deg, 
    #002754 33.33%, #005493 33.33%, #005493 38.89%, #c63527 38.89%, #c63527 44.44%, #f5aa1c 44.44%, #f5aa1c 50%, #002754 50%, #002754 83.33%
);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
}

#education h3{
  padding-top: 20px;
}

/**********************End of Education Section***************/

#Skills{
  margin-top: 50px;
  padding-left: 10px;
  color: #555; 
}

#Skills h2{
  padding-bottom: 0px;
}

#skillsCol ul{
display: inline;
}

#skillsCol a{
  color: inherit;
}

#skillsCol a :hover{
  color: #000000!important;
}

/**********************Experience Section***************/

#Experience{
  margin-top: 50px;
  padding-left: 10px;
  color: #555; 
}

#Experience h2{
  padding-bottom: 0px;
}

#intelLearnMore button{
  margin-top: 30px
}

#canassistLearnMore button{
  margin-top: 30px
}

#cadaLearnMore button{
  margin-top: 30px
}

.work p{
  margin-top: 20px;
}

.work ul{
  display: inline;
  list-style-type: circle;
  padding-top: 10px;
  padding-inline-start: 0px;  
}

.work li{
  margin-left: 20px;
}

/**********************End of Experience Section***************/
